* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #005C96;
}

nav {
    display: flex;
    background-color: #ffffff;
    align-items: center;
}

nav div{
    height: 30px;
    flex-grow: 4;
    padding: 10px;
}

nav div img {
    height: 100%;
}

#user {
    text-align: right;
}

nav div.search-container > input {
    box-sizing: border-box;
    height: 30px;
    width: 80%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

nav div.search-container > button {
    box-sizing: border-box;
    height: 30px;
    width: 20%;
    margin: 0;
    padding: 5px;
    border: 1px solid #005C96;
    cursor: pointer;
    background-color: #005C96;
    color: #ffffff;
}

.positionned {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.flex-container {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px auto;
    flex: 1;
    height: 100%;
}
  
  .flex-container > div {
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 12px;
    width: 90%;
    margin : 30px auto 0 auto;
    box-shadow: 0 0 10px 4px #005C96;
  }

  .post3 {
      margin-bottom: 50px !important;
  }


