* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #005C96;
}

nav {
    display: flex;
    background-color: #ffffff;
    align-items: center;
}

nav div{
    height: 30px;
    flex-grow: 4;
    padding: 10px;
}

nav div img {
    height: 100%;
}

#user {
    text-align: right;
}

nav div.search-container > input {
    box-sizing: border-box;
    height: 30px;
    width: 80%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

nav div.search-container > button {
    box-sizing: border-box;
    height: 30px;
    width: 20%;
    margin: 0;
    padding: 5px;
    border: 1px solid #005C96;
    cursor: pointer;
    background-color: #005C96;
    color: #ffffff;
}

.positionned {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

header + div {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50px auto;
    flex: 1;
    height: 100%;
}
  
  .flex-container > div {
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 18px;
    width: 75%;
    margin : 30px auto 0 auto;
    box-shadow: 0 0 10px 4px #005C96;
  }

  .post3, .login-text{
      margin-bottom: 50px !important;
  }

  video, .meme {
    display: flex;
    height: 360px;
    margin: 0px auto;
  }

  .post-details {
    display: flex;
    flex-direction: row;
}

.post-details > .name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

.date {
    font-size: 12px;
    margin-left: auto;
}

.button {
    border-color: #005C96;
    color: #005C96;
  }
  
  .button:hover {
    background-color: #005C96;
    border-color: #ffffff;
    color: #ffffff;
  }

.login-container > div {
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 18px;
    width: 75%;
    margin : 30px auto 0 auto;
  }

.login-text{
    text-align: center;
}

.login-text > img {
    height: 40px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #005C96;
  border-radius: 4px;
}

#login-btn {
    background-color: #005C96;
    color: #ffffff
}

form ~ a {
    font-size: 16px;
}